<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<div th:replace="title.html"></div>
	<div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
	<div class="container">
		<div th:replace="bootstrap/bootstrap_nav_header.html"></div>

		<h1>Divide</h1>

		<p>Fill in the numerator and denominator of two rational numbers (fractions) below,
			then click the Divide button to see the result.
		</p>

		<form method="GET" th:object="${ratCalcForm}">
			<div th:replace="forms/rat_calc_form.html"></div>
			<button type="submit" th:formaction="@{/divide/results}" class="btn btn-primary" id="selenium-divide">Divide</button>
		</form>

		<div th:replace="bootstrap/bootstrap_footer.html"></div>
	</div>
	<div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>

</html>