<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <div th:replace="title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
  <div class="container">
    <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

    <h1>Home</h1>

    <p>
      This demo web app illustrated how to build a web interface
      over an existing class. We reuse the <code>Rational</code>
      class from a previous CMPSC 56 lab, and add a web user interface.
    </p>

    <div th:replace="bootstrap/bootstrap_footer.html"></div>
  </div>
  <div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>

</html>